
/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }
	body {
		line-height: 1; }
	ol, ul {
		list-style: none; }
	blockquote, q {
		quotes: none; }
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }




/* #Basic Styles
================================================== */
	body {
		background: #fff;
		font: 14px/21px Arial, sans-serif;
		color: #444;
		-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
		-webkit-text-size-adjust: 100%;
 }
 
	h1, h2, h3, h4, h5, h6 {
		color: #181818;
		font-weight: normal; 
	}
 
	a, a:visited { color: #333; text-decoration: underline; outline: 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited { line-height: inherit; }


	img.scale-with-grid {
		max-width: 100%;
		height: auto; }

/* ================================================== */
#stories{
	margin:10px;
}
#stories li {
	clear:both;
	list-style:none;
	padding:9px 9px 9px 10px;
	min-height:103px;
	
}

#stories li h2{
	line-height: 0.9;
	margin-top: 7px;
}
#stories li h2 a, #stories li h2 a:link{
	font-size:16px; 
	font-weight:bold;
	text-decoration:none;
	color:#036dbe;	
	
}

#stories li h2 a:hover{
	font-size:16px; 
	font-weight:bold;
	color:#036dbe;
}


#stories li img{
	float:left;
	display:block;
	border-bottom:2px solid #fff;
	border-right:2px solid #fff;
	-webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .4);
	box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .4);
	margin-bottom: 15px;
	margin-right: 15px;
}

#stories .categories li{
	display:inline;
	list-style:none;
	padding:0;
} 

#stories .categories li:first-child .delimiter{
	display:none;
}

#stories .posted, #stories .updated {
	line-height: 1;
} 

#stories .posted{
	margin-top: 20px;
}
#stories .updated {
	margin-top:3px;
	
} 





